<div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight">
        <h2>Edit</h2>
    </div>
    <div class="p-2 bd-highlight">
        <!-- <button type="button" class="btn btn-secondary" onclick="showUserCreateBox()">Create</button> -->
        <%= link_to "Back" , "javascript:history.back()" , class: "btn btn-secondary" %>
    </div>
</div>

<%= render "form", keyword: @keyword %>
